{% extends 'catalog/base.html' %}

{% block content %}

<div class="row">
    <div class="col-4">
        <div class="card-body">
            <h5>Наши контакты</h5>
            <p>ООО "Неон ПК"</br>644046, г. Омск, ул. Учебная, 152</br>neonpc@gmail.com</br>
                тел. +7908-109-1049
            </p>
        </div>
    </div>
    <div class="col-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <h5>Форма для связи с нами</h5>
                <input name="name" class="form-control mb-2" placeholder="Укажите имя" type="text">
                <input name="email" class="form-control mb-2" placeholder="Укажите e-mail" type="email">
                <textarea name="message" class="form-control mb-2" placeholder="Здесь напишите сообщение"></textarea>
                <input class="btn btn-primary w-100" type="submit" value="Send"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}
