{% extends 'catalog/base.html' %}

{% block content %}
<form method="post">
    <div class="col-12"><div/>
        <div class="row">
            <div class="col-6">
                <div class="card">
                     <div class="card-header">
                     <h2>Введите данные продукта</h2>
                     <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        </div>
                    </div>
                    <div class="btn-group">
                        <a href="javascript:history.go(-1)" class="btn btn-primary bg-secondary">Назад</a>
                        <a href="{% url 'catalog:product-detail' product.id %}" class="btn btn-primary bg-secondary">Сохранить</a>

                    </div>
                </div>
              </div>

            <div class="col-6">
                <div class="card">
                     <div class="card-header">
                     <h2>Введите данные версии </h2>
            </div>
            <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    {{form.as_p}}
                {% endfor %}
            </div>
            <div class="btn-group">
                    <button type="submit" class="btn btn-success">
                    {% if object %}
                    Сохранить
                    {% else %}
                    Создать
                    {% endif %}
                    </button>
                    <a href="{% url 'catalog:products-list' %}" type="button"
                    class="btn bg-secondary">Назад</a>
                </div>
            </div>
         </div>
    </div>
</div>
</form></div>

{% endblock %}